$title: "Inconsolata", monospace;
$normal: "Rubik", sans-serif;
$hand: "Hand";

@font-face {
  font-family: "Hand";
  src: url("/fonts/DK.ttf");
}

@font-face {
  font-family: "Fira";
  src: url("/fonts/Fira.ttf");
}
